.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 0 10px;
}

.navLink>a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.heroContainer {

    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    /* padding: 0 30px; */
    color: #fff;
}

.heroText>h1 {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;

}

.heroText>p {
    color: #9A9A9A;
    font-size: 1.5rem;
    line-height: 35px;
    font-weight: 400;
    text-align: center;
}

.heroBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    gap: 5px;


}


.heroBtn {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 40px;
    margin-bottom: 20px;
}

.heroBtn:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-color: #39E575;
}

.heroBtnActive {
    color: #000;
    background-color: #fff;
    border: 2px solid #39E575;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 40px;
    margin-bottom: 20px;
}

.heroBtnActive:hover {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border-color: #fff;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* padding: 10px 30px; */
    color: #fff;
}

.aboutHead {
    align-self: flex-start;
    margin-top: 80px;
    width: 15%;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.aboutMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 5px;
    /* padding: 0 30px; */
    color: #fff;
}

.aboutMainLeft {
    padding-left: 10rem;
}

.aboutMainLeftUp {
    font-size: 16px;
    color: #9A9A9A;
}

.WhatContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: 10px 30px; */
    color: #fff;
}

.whatimg {
    font-family: 'Rubik', sans-serif;
    line-height: 35px;
    vertical-align: baseline;
    background: transparent;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.wonder {
    font-family: 'Rubik', sans-serif;
    line-height: 35px;
    font-weight: 400;
    color: #9A9A9A;
    text-align: center;
    vertical-align: baseline;
    background: transparent;
    font-size: 16px;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.WhatContainer>h2 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    vertical-align: baseline;
    background: transparent;
    padding: 20px 0;
    color: #fff;
    font-size: 60px;
    line-height: 120%;
    font-weight: 700;
    padding-bottom: 35px;
}

.p {
    line-height: 35px;
    font-weight: 400;
    color: #9A9A9A;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
    text-align: left;
    align-self: flex-start;
}

.HowContainer {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    gap: 20px;
}

.stepnum {
    vertical-align: baseline;
    background: transparent;
    font-size: 264px;
    font-weight: 700;
    color: #0a0a0a;
    text-shadow: -1px 0 #39E575,
        0 1px #39E575,
        1px 0 #39E575,
        0 -1px #39E575;
    line-height: 100%;
    height: 165px;
    overflow: hidden;
    margin-bottom: -10px;
    margin-top: 10px;
}




.steptext p {
    font-family: 'Rubik', sans-serif;
    line-height: 35px;
    font-weight: 400;
    color: #9A9A9A;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin-bottom: 13px;
}

.AllocationContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 0 60px;
}

.Allocationleft {
    line-height: 35px;
    font-weight: 400;
    color: #9A9A9A;
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    float: left;
    position: relative;
    margin-bottom: 30px;
    margin-top: 80px;
    margin-left: 60px;
    width: 50%;

}

.Allocationtitle {
    font-family: 'Rubik', sans-serif;
    line-height: 35px;
    font-weight: 400;
    color: #9A9A9A;
    margin: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 16px;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.Allocationleft h2 {
    vertical-align: baseline;
    background: transparent;
    padding: 20px 0;
    color: #fff;
    font-size: 60px;
    line-height: 120%;
    font-weight: 700;
    padding-bottom: 35px;
    margin-top: -20px;
}

.Allocationleft p {
    line-height: 35px;
    font-weight: 400;
    color: #9A9A9A;
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin-bottom: 13px;
    margin-top: -60px;
}

.AllocationRight {
    margin-right: 40px;
    width: 50%;
}
@media screen and (max-width: 1024px) {
    .aboutMain{
        display: flex;
        flex-direction: column;
    }
  .aboutMainLeft{
    padding-left: 0;
    margin-top: 500px;
  }
  .whatwrapper{
    margin-top: 500px;
}

 

}@media screen and (max-width: 1000px) {
    .aboutMain{
        display: flex;
        flex-direction: column;
    }
  .aboutMainLeft{
    padding-left: 0;
    margin-top: -500px;
  }
  .whatwrapper{
    margin-top: -500px;
}

 
}

@media screen and (max-width: 700px) {
    .heroText>h1 {
        font-size: 3rem;
      
    
    }
    .heroText>p {
        font-size: 1rem;   
    }
    .heroBtn {
        padding: 5px 20px;
        margin-bottom: 20px;
    } 
    .heroBtnActive {
        font-size: 10px;
        padding: 10px 20px;
        margin-bottom: 20px;
    }
    .aboutMain{
        flex-direction: column;
    }
    
    .aboutMainLeft {
        padding-left: 0rem;
        margin-top: 1300px;
    }
    
    .aboutMainRight  {
        padding-right: 0rem;
        margin-bottom: 1000px;
    }
 .HowContainer {
        flex-direction: column;
        
    }
    .whatwrapper{
        margin-top: 300px;
    }
    
  .stepnum{
    margin-top: 20px;
  }
    
    
    
}
@media screen and (max-width: 600px) {
    .heroText>h1 {
        font-size: 3rem;
    }
    .heroText>p {
        font-size: 1rem;
    }
    .heroBtn {
        font-size: 10px;
        padding: 5px 20px;
        margin-bottom: 20px;
    }
    
    .heroBtnActive {
        font-size: 10px;
        padding: 5px 20px;
        margin-bottom: 20px;
    }
    .aboutMain{
        flex-direction: column;
    }
    
    .aboutMainLeft {
        padding-left: 0rem;
        margin-top: 400px;
    }
    
    .aboutMainRight  {
        padding-right: 0rem;
        margin-bottom: 1000px;
    }
 .HowContainer {
        flex-direction: column;
        
    }
    .whatwrapper{
        margin-top: -600px;
    }
    
  .stepnum{
    margin-top: 20px;
  }
     
    
}
@media screen and (max-width: 500px) {
    .heroText>h1 {
        font-size: 3rem;
    }
    .heroText>p {
        font-size: 1rem;
    }
    .heroBtn {
        font-size: 10px;
        padding: 5px 20px;
        margin-bottom: 20px;
    }
    .heroBtnActive {
        font-size: 10px;
        padding: 5px 20px;
        margin-bottom: 20px;
    }
    .aboutMain{
        flex-direction: column;
    }
    
    .aboutMainLeft {
        padding-left: 0rem;
        margin-top: 650px;
    }
    
    .aboutMainRight  {
        padding-right: 0rem;
        margin-bottom: 400px;
    }
 .HowContainer {
        flex-direction: column;
        
    }
    .whatwrapper{
        margin-top: 300px;
    }
    
  .stepnum{
    margin-top: 20px;
  }
    
    .AllocationContainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        padding: 0 60px;
    }
    
    .Allocationleft {
        line-height: 35px;
        font-weight: 400;
        color: #9A9A9A;
        margin: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        float: left;
        position: relative;
        margin-bottom: 30px;
        margin-top: 80px;
        margin-left: 60px;
        width: 50%;
    
    }
    
    .Allocationtitle {
        font-family: 'Rubik', sans-serif;
        line-height: 35px;
        font-weight: 400;
        color: #9A9A9A;
        margin: 0;
        vertical-align: baseline;
        background: transparent;
        font-size: 16px;
        margin-bottom: 0;
        letter-spacing: 2px;
    }
    
    .Allocationleft h2 {
        vertical-align: baseline;
        background: transparent;
        padding: 20px 0;
        color: #fff;
        font-size: 60px;
        line-height: 120%;
        font-weight: 700;
        padding-bottom: 35px;
        margin-top: -20px;
    }
    
    .Allocationleft p {
        line-height: 35px;
        font-weight: 400;
        color: #9A9A9A;
        margin: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        margin-bottom: 13px;
        margin-top: -60px;
    }
    
    .AllocationRight {
        margin-right: 40px;
        width: 50%;
    }
    
    
    
}