.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 0 10px;
}

.navLink>a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.heroContainer {

    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    /* padding: 0 30px; */
    color: #fff;
}

.heroText>h1 {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;

}

.heroText>p {
    color: #9A9A9A;
    font-size: 1.5rem;
    line-height: 35px;
    font-weight: 400;
    text-align: center;
}

.heroBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    gap: 5px;

}

.heroBtn {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 40px;
}

.heroBtn:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-color: #39E575;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* padding: 10px 30px; */
    color: #fff;
}

.aboutHead {
    align-self: flex-start;
    margin-top: 80px;
    width: 15%;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.aboutMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 5px;
    /* padding: 0 30px; */
    color: #fff;
}

.aboutMainLeft {}

.aboutMainLeftUp {
    font-size: 16px;
    color: #9A9A9A;
}